In [38]:
import pandas as pd
import os 

cvs_path = os.path.join("Resources", "budget_data.csv")

In [39]:
df = pd.read_csv (cvs_path)

In [40]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [41]:
total_months= df["Date"].count()
print(df["Date"].count())

86

In [42]:
total_profitlosses= df["Profit/Losses"].sum()
print(df["Profit/Losses"].sum())

38382578

In [46]:
average_profitlosses= df["Profit/Losses"].mean()
print("Average : ${}".format(average_profitlosses))

Average : $446309.0465116279

In [44]:
increase_profits = []

In [65]:
    for month in range(total_months-1):
        average_change = (net_total[x] - net_total[y])
        increase_profits.append(int(average_change))
        x+=1
        y+=1

NameError: name 'net_total' is not defined

In [57]:
greatest_increase = p[df.index(max(p))] - p[p.index(max(p))-1]

NameError: name 'p' is not defined